body { padding: 0px 100px 0px 100px; }
.Stable { background-color: Gray; }
    .Stable td { background-color: white; }
.cutoffShowDetailLink { display: none; }

.style1 { font-family: Arial; color: #808080; font-size: large; }
.style2 { color: #0033CC; display: none; }
#u358_input { position: absolute; left: 0px; top: 0px; width: 75px; height: 22px; font-family: 'Arial Regular', 'Arial'; font-weight: 400; font-style: normal; font-size: 13px; text-decoration: none; color: #000000; }
.style4 { font-size: small; }
.style5 { font-family: Arial; font-size: small; }
.style7 { width: 200px; font-size: small; }
.td_cutOffTime1 { font-size: small; }
.tbTotalTd { font-size: small; }
.style8 { font-size: small; font-weight: bold; }
.tdstyle8_x { font-size: small; font-weight: bold; width: 210px; text-align: center; }
.tb_divCutOffTimesRight { width: 400px; background-color: Gray; }
    .tb_divCutOffTimesRight td { background-color: #E5E8EC; }

.SameDaystyle8 { width: 200px; font-size: small; font-weight: bold; }
.style9 { font-size: small; }
.style10 { width: 419px; }
#sel_IndustryCategories { width: 150px; height: 192px; }
#tbBrand { width: 482px; }
#tbTotal { width: 582px; }

.tbWarrantyType { width: 477px; background-color: Gray; }
    .tbWarrantyType td { background-color: white; }

.tbBrand { }

.tbSerLocation { width: 477px; background-color: Gray; }
    .tbSerLocation td { background-color: white; }



.btnSaveStyle { height: 32px; width: 80px; color: #FFFFFF; font-weight: 700; background-color: #0066FF; }
.datalist { width: 780px; color: #3366CC; }
.BrandDatalist { height: 100px; color: #3366CC; height: auto; }
.datapage { height: 20px; }
#sel_Pagesize { color: blue; height: 25px; }

#divPageSize { width: 800px; height: 50px; color: #36C; font-family: "Arial Bold", "Arial"; font-weight: 700; font-style: normal; }
.style12 { width: 106px; }
.style13 { width: 109px; }
.style14 { width: 107px; }
.style15 { font-size: small; font-weight: bold; width: 347px; }
.style16 { font-family: Arial; font-size: small; }
.div_Table { display: table; padding: 0px 0px 0px 0px; }
.div_BorderTable { height: 35px; display: table; padding: 0px 5px 0px 5px; border-style: solid; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 1px; border-left-width: 0px; width: 100%; }
.div_blank { height: 5px; width: 100%; }
.div_BorderTable1 { height: 5px; display: table; padding: 0px 0px 0px 0px; border-style: solid; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 1px; border-left-width: 0px; width: 100%; }

.div_Row { display: table-row; }
.div_radiusTable { margin: 5px; padding: 15px 15px 15px 15px; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px; display: table; border-radius: 10px; border-style: solid; width: 320px; background-color: #E5E8EC; }
.div_radiusRow { display: table-row; }
.div_Row2 { display: table-row; height: 35px; }
.div_Cell { display: table-cell; width: 100%; }
.div_CellS { display: table-cell; width: 100%; }
.div_Cell1 { display: table-cell; width: 300px; }
.div_Cell2 { height: 25px; display: table-cell; }
.div_Cell3 { height: 25px; display: table-cell; text-align: left; }
.div_Cell4 { height: 25px; display: table-cell; text-align: left; width: 250px; }
.div_Cell5 { height: 25px; display: table-cell; text-align: left; width: 150px; }
.div_Cell5_x { height: 25px; display: table-cell; text-align: left; width: 150px; margin: 10px; }
.div_Cell5_x1 { height: 25px; display: table-cell; text-align: left; width: 170px; }
.div_Cell5_Right { float: right; height: 25px; display: table-cell; text-align: left; width: 150px; }
.div_Cell5_Left { float: left; height: 25px; display: table-cell; text-align: left; width: 150px; }
.div_Cell6 { height: 25px; display: table-cell; text-align: left; }
.div_radiusCell { border-radius: 10px; text-align: left; width: 300px; }
.div_Cell8 { height: 25px; display: table-cell; text-align: center; }
.div_Cell9 { display: table-cell; text-align: left; }
.div_Cell10 { display: table-cell; text-align: left; width: 300px; }
.div_Cell11 { height: 25px; display: table-cell; text-align: left; }
.Msg_TitleFont { font-weight: bold; font-size: 9pt; font-family: Arial; }
.Msg_ContentFont { font-size: 9pt; font-family: Arial; }
.VAling { font-size: 12pt; font-family: Arial; vertical-align: middle; }
.VAlingTest { font-size: 12pt; font-family: Arial; vertical-align: middle; }
.chkBox { _vertical-align: -1px; vertical-align: -2px; }
.Msg_TxtBox { font-family: Arial; font-size: medium; color: #666666; font-style: italic; width: 200px; }
.Msg_NumBox { font-family: Arial; font-size: medium; color: #666666; font-style: italic; width: 50px; }
.Msg_Select { font-family: Arial; color: #000000; font-variant: normal; text-decoration: blink; font-style: normal; height: 22px; width: 200px; }
.Cotrl_Select { width: 190px; }
.tb { width: 320px; height: 240px; float: left; }
.tb1 { margin-left: 20px; width: 750px; height: 240px; float: right; }
.CutoffTimeSelect { width: 100px; }
.Stable { background-color: Gray; }
    .Stable td { background-color: white; }
    .Stable tr { }

.tgStable { background-color: red; }
    .tgStable td { background-color: black; }


.divCenterBtn { height: 150px; width: 50px; }
#divLeftBtn { padding-top: 100px; }
#divRightBtn { padding-top: 10px; }

.tbTotal { background-color: Gray; }
    .tbTotal td { background-color: white; }
.Msg_TxtBox2 { font-family: Arial; font-size: medium; color: #666666; font-style: italic; width: 320px; }
.btnSaveStyle { height: 32px; width: 80px; font-weight: 700; }
.btnSaveStyle_x { height: 32px; width: 120px; font-weight: 700; }
.btnSaveStyle5 { height: 32px; width: 195px; color: #FFFFFF; font-weight: 700; background-color: #0066FF; }

.btnSaveStyle3 { height: 32px; width: 80px; color: #FFFFFF; font-weight: 700; background-color: #0066FF; }
.btnSaveStyle4 { height: 27px; width: 80px; color: #FFFFFF; font-weight: 700; background-color: #0066FF; }
.btnSaveStyle2 { height: 32px; width: 150px; color: #FFFFFF; font-weight: 700; background-color: #0066FF; }
.Msg_Select2 { font-family: Arial; color: #000000; font-variant: normal; text-decoration: blink; font-style: normal; width: 320px; }
.Msg_Select3 { font-family: Arial; color: #000000; font-variant: normal; text-decoration: blink; font-style: normal; width: 320px; }


#sitecontent { padding: 0px !important; }
