################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/TestGithub/FileContentIndex/d79de832-3ec7-402d-a569-b633fa26b471.vsidx
/.vs/TestGithub/FileContentIndex/63e6705a-fc5f-4a8f-94fd-e34b3d9509bb.vsidx
/.vs/slnx.sqlite
/.vs/TestGithub/v17/.wsuo
/.vs/TestGithub/FileContentIndex/00828350-e848-4617-91c1-108a29fb86cd.vsidx
/.vs/TestGithub/FileContentIndex/04509907-e966-4cf2-9dc0-8a403ae4b30f.vsidx
/.vs/TestGithub/FileContentIndex/48e9c6f8-e500-4dde-88ab-49eea21c1cb6.vsidx
