/*
Error: Undefined mixin 'Colors'.
        on line 38 of E:\MyProject\0BillPayScss\scss\vars.scss, in `Colors'
        from line 38 of E:\MyProject\0BillPayScss\scss\vars.scss

33: $partition: #ECECEC;
34: $unfinished: #DADADA;
35: $unfinishedBorder: #989A9C;
36: $unfinishedColor:  rgba(68, 69, 69, 0.3);;
37: $shadowColor: rgba(44, 60, 89, 0.07);
38: @include Colors("selectionIcon", '', $selectionIconBg);
39: @include Colors("disabled", '', $themeDisabledColor);
40: @include Colors("rejected", '', $rejected);
41: @include Colors("changes", '', $lightBlue);
42: @include Colors("aLink", '', $themePressed);
43: @include Colors("error", '', $error);

Backtrace:
E:\MyProject\0BillPayScss\scss\vars.scss:38:in `Colors'
E:\MyProject\0BillPayScss\scss\vars.scss:38
D:/zPrograms/Koala_20210706/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:352:in `block in visit_mixin'
D:/zPrograms/Koala_20210706/rubygems/gems/sass-3.5.2/lib/sass/stack.rb:98:in `block in with_mixin'
D:/zPrograms/Koala_20210706/rubygems/gems/sass-3.5.2/lib/sass/stack.rb:135:in `with_frame'
D:/zPrograms/Koala_20210706/rubygems/gems/sass-3.5.2/lib/sass/stack.rb:98:in `with_mixin'
D:/zPrograms/Koala_20210706/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:350:in `visit_mixin'
D:/zPrograms/Koala_20210706/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/base.rb:36:in `visit'
D:/zPrograms/Koala_20210706/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:162:in `block in visit'
D:/zPrograms/Koala_20210706/rubygems/gems/sass-3.5.2/lib/sass/stack.rb:79:in `block in with_base'
D:/zPrograms/Koala_20210706/rubygems/gems/sass-3.5.2/lib/sass/stack.rb:135:in `with_frame'
D:/zPrograms/Koala_20210706/rubygems/gems/sass-3.5.2/lib/sass/stack.rb:79:in `with_base'
D:/zPrograms/Koala_20210706/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:162:in `visit'
D:/zPrograms/Koala_20210706/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
D:/zPrograms/Koala_20210706/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/base.rb:52:in `map'
D:/zPrograms/Koala_20210706/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/base.rb:52:in `visit_children'
D:/zPrograms/Koala_20210706/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:171:in `block in visit_children'
D:/zPrograms/Koala_20210706/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:183:in `with_environment'
D:/zPrograms/Koala_20210706/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:170:in `visit_children'
D:/zPrograms/Koala_20210706/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/base.rb:36:in `block in visit'
D:/zPrograms/Koala_20210706/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:190:in `visit_root'
D:/zPrograms/Koala_20210706/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/base.rb:36:in `visit'
D:/zPrograms/Koala_20210706/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:161:in `visit'
D:/zPrograms/Koala_20210706/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:10:in `visit'
D:/zPrograms/Koala_20210706/rubygems/gems/sass-3.5.2/lib/sass/tree/root_node.rb:36:in `css_tree'
D:/zPrograms/Koala_20210706/rubygems/gems/sass-3.5.2/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
D:/zPrograms/Koala_20210706/rubygems/gems/sass-3.5.2/lib/sass/engine.rb:389:in `_render_with_sourcemap'
D:/zPrograms/Koala_20210706/rubygems/gems/sass-3.5.2/lib/sass/engine.rb:307:in `render_with_sourcemap'
D:/zPrograms/Koala_20210706/rubygems/gems/sass-3.5.2/lib/sass/exec/sass_scss.rb:391:in `run'
D:/zPrograms/Koala_20210706/rubygems/gems/sass-3.5.2/lib/sass/exec/sass_scss.rb:63:in `process_result'
D:/zPrograms/Koala_20210706/rubygems/gems/sass-3.5.2/lib/sass/exec/base.rb:52:in `parse'
D:/zPrograms/Koala_20210706/rubygems/gems/sass-3.5.2/lib/sass/exec/base.rb:19:in `parse!'
D:/zPrograms/Koala_20210706/rubygems/gems/sass-3.5.2/bin/sass:13:in `<top (required)>'
D:/zPrograms/Koala_20210706/bin/sass:22:in `load'
D:/zPrograms/Koala_20210706/bin/sass:22:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Undefined mixin 'Colors'.\A         on line 38 of E:\MyProject\0BillPayScss\scss\vars.scss, in `Colors'\A         from line 38 of E:\MyProject\0BillPayScss\scss\vars.scss\A \A 33: $partition: #ECECEC;\A 34: $unfinished: #DADADA;\A 35: $unfinishedBorder: #989A9C;\A 36: $unfinishedColor:  rgba(68, 69, 69, 0.3);;\A 37: $shadowColor: rgba(44, 60, 89, 0.07);\A 38: @include Colors(\"selectionIcon\", '', $selectionIconBg);\A 39: @include Colors(\"disabled\", '', $themeDisabledColor);\A 40: @include Colors(\"rejected\", '', $rejected);\A 41: @include Colors(\"changes\", '', $lightBlue);\A 42: @include Colors(\"aLink\", '', $themePressed);\A 43: @include Colors(\"error\", '', $error);"; }
