a {
    color: blue;
    cursor:pointer;
    text-decoration: underline;
}

div.instructions_container {
    float: left;
    width: 350px;
    margin-right: 50px;

}

div#activity_pane {
    float:left;
    width: 350px;
    height: 200px;
    border: 1px solid #CCCCCC;
    padding-top: 200px;
    text-align: center;

}

div.example_links
.link_category {
    margin-bottom: 15px;
}

.loading-indicator-bars {
    background-image: url('../img/loading-bars.gif');
    width: 150px;
}

.loading-indicator {
    height: 80px;
    width: 80px;
    background: url( '../img/loading.gif' );
    background-repeat: no-repeat;
    background-position: center center;
}

.loading-indicator-overlay {    
    background: #000;
    opacity:0.3; 
    -moz-opacity:0.3; 
    filter:alpha(opacity=30);    
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left:0;
}