.hr{height: 1px;     background: #ddd;}
.display-aside {
	box-shadow: 0px 7px 64px rgba(44, 60, 89, 0.17);
	z-index: 99999; }
.display-aside .aside-unfold {
	width: 12rem;
	transition: all 0.5s;
	position: relative;
	height: 100%;
	display: flex; }
.display-aside .aside-unfold .aside-controller {
	position: absolute;
	right: -0.8rem;
	cursor: pointer;
	top: 4.3rem;
	box-shadow: 0px 0px 3px rgba(44, 60, 89, 0.2);
	background: #FFFFFF;
	border-radius: 0.1rem;
	Width: 1.45rem;
	Height: 1.45rem;
	display: flex;
	align-items: center;
	justify-content: center; }
.display-aside .aside-unfold .aside-controller .right {
	position: relative; }
.display-aside .aside-unfold .aside-controller .right-arrow1, .display-aside .aside-unfold .aside-controller .right-arrow2 {
	width: 0;
	height: 0;
	display: block;
	position: absolute;
	left: -8px;
	top: -6px;
	border-top: 6px transparent dashed;
	border-left: 6px transparent dashed;
	border-bottom: 6px transparent dashed;
	border-right: 6px #ff5238 solid;
	overflow: hidden; }
.display-aside .aside-unfold .aside-controller .right-arrow1 {
	left: -10px;
	border-right: 6px #333 solid; }
.display-aside .aside-unfold .aside-controller .right-arrow2 {
	border-right: 6px #ffffff solid; }
.display-aside .aside-unfold .aside-controller:hover {
	background: #7FA9B3; }
.display-aside .aside-unfold .aside-controller:hover .right-arrow1 {
	border-right: 6px #ffffff solid; }
.display-aside .aside-unfold .aside-controller:hover .right-arrow2 {
	border-right: 6px #7FA9B3 solid; }
.display-aside .aside-unfold .aside-controller:active {
	background: #488492; }
.display-aside .aside-unfold .aside-controller:active .right-arrow1 {
	border-right: 6px #ffffff solid; }
.display-aside .aside-unfold .aside-controller:active .right-arrow2 {
	border-right: 6px #488492 solid; }
.display-aside .aside-unfold .parent-level-big {
	background: #444545;
	padding: 1.65rem 0.4rem;
	width: 100%;
	transition: all 0.5s;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-wrap: nowrap;
	flex-direction: column; }
.display-aside .aside-unfold .parent-level-big .log-big {
	width: 6.35rem;
	transition: all 0.5s;
	height: 2.6rem;
	display: block;
	margin-bottom: 1.75rem; }
.display-aside .aside-unfold .parent-level-big .log-big img {
	width: 6.35rem;
	height: auto; }
.display-aside .aside-unfold .parent-level-big .log-nano {
	width: 1.55rem;
	height: 2.6rem;
	margin-bottom: 1.75rem;
	display: none; }
.display-aside .aside-unfold .parent-level-big .log-nano img {
	width: 1.55rem;
	height: auto; }
.display-aside .aside-unfold .parent-level-big > .active {
	background: rgba(200, 216, 228, 0.7);
	transition: all 0.5s; }
.display-aside .aside-unfold .parent-level-big .item_connect {
	margin: 1.05rem 0;
	width: 100%;
	box-sizing: border-box;
	border-radius: 0.1rem;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	position: relative;
	transition: all 0.5s; }
.display-aside .aside-unfold .parent-level-big .item_connect:hover {
	background: rgba(200, 216, 228, 0.7);
	transition: all 0.5s; }
.display-aside .aside-unfold .parent-level-big .item_connect .item_box {
	width: 100%;
	transition: all 0.5s;
	display: flex;
	align-items: center;
	justify-content: flex-start !important;
	height: 1.8rem; }
.display-aside .aside-unfold .parent-level-big .item_connect .item_box .img-box {
	margin-left: 1.4rem;
	width: 1.4rem;
	display: flex;
	align-items: center;
	text-align: center; }
.display-aside .aside-unfold .parent-level-big .item_connect .item_box .img-box img {
	height: 1rem;
	width: auto; }
.display-aside .aside-unfold .parent-level-big .item_connect .item_box .pro-ab {
	width: auto;
	overflow: hidden;
	transition: all 0.5s; }
.display-aside .aside-unfold .parent-level-big .item_connect .item_box .pro-ab .text-box {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin-left: 1rem; }
.display-aside .aside-unfold .parent-level-big .item_connect .item_box .pro-ab .text-box img {
	height: 0.65rem;
	width: auto;
	display: none; }
.display-aside .aside-unfold .parent-level-big .item_connect .item_box .pro-ab .text-box .text {
	white-space: nowrap;
	color: #FFFFFF;
	font-style: normal;
	font-weight: bold;
	font-size: 0.7rem; }
.display-aside .aside-unfold .parent-level-small {
	width: 3.5rem;
	transition: all 0.5s; }
.display-aside .aside-unfold .parent-level-small .log-big {
	display: none; }
.display-aside .aside-unfold .parent-level-small .log-nano {
	display: block; }
.display-aside .aside-unfold .parent-level-small .item_connect {
	width: 70% !important;
	transition: all 0.5s; }
.display-aside .aside-unfold .parent-level-small .item_connect:hover .pro-ab {
	display: block !important; }
.display-aside .aside-unfold .parent-level-small .item_connect .item_box {
	width: 100% !important;
	justify-content: center !important; }
.display-aside .aside-unfold .parent-level-small .item_connect .item_box .img-box {
	margin-left: auto;
	width: 1.4rem;
	display: contents !important;
	text-align: center;
	background: red; }
.display-aside .aside-unfold .parent-level-small .item_connect .item_box .img-box img {
	height: 1rem;
	width: auto; }
.display-aside .aside-unfold .parent-level-small .item_connect .item_box .pro-ab {
	width: 0px;
	overflow: hidden;
	transition: all 0.5s;
	display: none; }
.display-aside .aside-unfold .parent-level-small .item_connect .item_box .pro-ab .text-box {
	position: absolute;
	left: 73%;
	top: 0;
	height: 1.8rem;
	width: 8rem;
	margin-left: 1.3rem;
	white-space: nowrap;
	color: #FFFFFF;
	display: flex;
	justify-content: center;
	align-items: center; }
.display-aside .aside-unfold .parent-level-small .item_connect .item_box .pro-ab .text-box img {
	display: block; }
.display-aside .aside-unfold .parent-level-small .item_connect .item_box .pro-ab .text-box .text {
	width: 7rem;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 1.8rem;
	background: #444545;
	border-radius: 0.1rem; }
.display-aside .aside-unfold .parent-details {
	width: 0px;
	flex: inherit;
	overflow: hidden;
	height: 100%;
	background: #ffffff;
	transition: all 0.5s; }
.display-aside .aside-unfold .parent-details .business-box {
	min-width: 8rem;
	height: 100%;
	padding: 1.95rem 0.4rem; }
.display-aside .aside-unfold .parent-details .business-box .business {
	font-weight: bold;
	font-size: 0.9rem;
	line-height: 1.2rem;
	color: #444545;
	width: 100%;
	text-align: center;
	margin-bottom: 3.25rem; }
.display-aside .aside-unfold .parent-details .business-box .business-item {
	cursor: pointer;
	width: 95%;
	font-style: normal;
	font-weight: bold;
	font-size: 0.7rem;
	padding: 0.4rem 1rem 0.4rem 0.5rem;
	margin: 0.35rem 0.1rem;
	box-sizing: border-box;
	background: #ffffff;
	border-radius: 0.1rem;
	white-space: nowrap;
	transition: all 0.5s; }
.display-aside .aside-unfold .parent-details .business-box .business-item:hover {
	background: rgba(200, 216, 228, 0.7);
	transition: all 0.5s; }
.display-aside .aside-unfold .parent-details .business-box .active {
	background: rgba(200, 216, 228, 0.7);
	transition: all 0.5s; }
.display-aside .aside-unfold .fold-details {
	flex: 1; }
.display-aside .aside-fold {
	width: 3.5rem;
	transition: all 0.5s; }
.display-aside .aside-fold .aside-controller .right {
	-webkit-transform: rotate(-180deg);
	transform: rotate(-180deg);
	transition: -webkit-transform 0.3s;
	transition: transform 0.3s, -webkit-transform 0.3s; }
.display-a {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	text-decoration: none;
	color: inherit;
	cursor: pointer; }
.display-a:hover {
	color: inherit;
	text-decoration: none; }

.display-header{
	height:60px;
	width: 100%;

	box-sizing: border-box;
	background: #444545;
	color: white;
	padding-left: 20px;
}
.indexIframe{
	/*height: calc(100vh - 80px);*/

	flex: 1;
}
html,body{
	height: 100%;
	overflow-x: hidden;
}
.bshadow0, input {
	box-shadow: inset 0 -2px #e7e7e7;
}
.glyph {
	font-size: 16px;
	width: 15em;
	padding-bottom: 1em;
	margin-right: 4em;
	margin-bottom: 1em;
	float: left;
	overflow: hidden;
}
.liga {
	width: 80%;
	width: calc(100% - 2.5em);
}
.talign-right {
	text-align: right;
}
.talign-center {
	text-align: center;
}
.bgc1 {
	background: #f1f1f1;
}
.fgc1 {
	color: #999;
}
.fgc0 {
	color: #000;
}
p {
	margin-top: 1em;
	margin-bottom: 1em;
}
.mvm {
	margin-top: .75em;
	margin-bottom: .75em;
}
.mtn {
	margin-top: 0;
}
.mtl, .mal {
	margin-top: 1.5em;
}
.mbl, .mal {
	margin-bottom: 1.5em;
}
.mal, .mhl {
	margin-left: 1.5em;
	margin-right: 1.5em;
}
.mhmm {
	margin-left: 1em;
	margin-right: 1em;
}
.mls {
	margin-left: .25em;
}
.ptl {
	padding-top: 1.5em;
}
.pbs, .pvs {
	padding-bottom: .25em;
}
.pvs, .pts {
	padding-top: .25em;
}
.unit {
	float: left;
}
.unitRight {
	float: right;
}
.size1of2 {
	width: 50%;
}
.size1of1 {
	width: 100%;
}
.clearfix:before, .clearfix:after {
	content: " ";
	display: table;
}
.clearfix:after {
	clear: both;
}
.hidden-true {
	display: none;
}
.textbox0 {
	width: 3em;
	background: #f1f1f1;
	padding: .25em .5em;
	line-height: 1.5;
	height: 1.5em;
}
#testDrive {
	display: block;
	padding-top: 24px;
	line-height: 1.5;
}
.fs0 {
	font-size: 16px;
}
.fs1 {
	font-size: 32px;
}

/*

@import "top-bar";
*/

/*# sourceMappingURL=unis.css.map */
