html,
body {
    color: #2C3C59 !important;
    font-family: 'AvenirNext-Bold' !important;
}

body {
    background: rgba(247, 247, 247, 0.07);
}

header {
    width: 16.666667%;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 100;
    top: 0;
    background-color: #957bbe;
    font-size: 18px;
    height: 95px;
    color: #ffffff;
    padding-top: 15px;
    padding-left: 15px;
    border-right: 1px solid #eeeeee;
}

aside {
    width: 16.666667%;
    position: fixed;
    left: 0;
    z-index: 100;
    background: #2C3C59;
    bottom: 0;
    top: 95px;
    border-right: 1px solid #eeeeee;
}

section {
    padding-left: 16.666667%;
    padding-top: 0px;
}

.indexIframe {
    width: 100%;
    height: calc(100vh - 112px);
}

.alerts {
    border-bottom: 1px solid #283751;
    -webkit-transition: color 1s;
    -moz-transition: color 1s;
    -ms-transition: color 1s;
    -o-transition: color 1s;
    transition: color 1s;
    color: #ffffff;
    padding: 1rem 1.25rem;
}

    .alerts a {
        flex: 1;
        text-decoration: none;
        height: 100%;
        color: currentcolor;
    }

        .alerts a:focus ~ .unis-arrow::after {
            -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
            transition: -webkit-transform 0.3s;
            transition: transform 0.3s, -webkit-transform 0.3s;
        }

        .alerts a:hover {
            color: currentcolor;
        }

    .alerts:hover {
        background: #283751;
        color: #007bff;
        border-left: 2px solid currentcolor;
        -webkit-transition: color 1s;
        -moz-transition: color 1s;
        -ms-transition: color 1s;
        -o-transition: color 1s;
        transition: color 1s;
    }

.roll {
    width: 100%;
    max-height: 100%;
    overflow-y: auto;
}

    .roll::-webkit-scrollbar {
        width: 5px;
        height: 1px;
    }

    .roll::-webkit-scrollbar-thumb {
        border-radius: 6px;
        -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
        background: #56A7FD;
    }

    .roll::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
        border-radius: 2px;
        background: #EDEDED;
    }

code {
    padding: 18px 0 !important;
    display: block !important;
}

.isolation {
    height: 100%;
    padding-top: 35px;
    margin-left: 32px;
}

.alert-light {
    border-color: #e5e5e6 !important;
}

.subtractive {
    width: 75px;
    height: 75px;
    margin-right: 5px;
    background: #efefef !important;
}

.btn-code {
    position: relative;
}

    .btn-code .code-label {
        position: absolute;
        right: 10px;
        top: 6px;
    }

    .btn-code .top-0 {
        top: 8px !important;
        z-index: 10;
    }

    .btn-code .card {
        border: 1px solid rgba(247, 247, 247, 0.17);
        transition: all 0.8s;
        min-height: 90px;
        background: none !important;
        margin-bottom: 0px;
    }

        .btn-code .card .card-header {
            padding: 0;
            height: 0px;
            overflow: hidden;
            margin-bottom: 0;
            background-color: #fff;
            border-bottom: none;
            transition: all 0.3s;
        }

        .btn-code .card .card-body .pre {
            height: 0px;
            display: none;
            transition: height 0.8s;
            background: #23241f;
        }

            .btn-code .card .card-body .pre code {
                width: 100%;
                padding-left: 20px !important;
            }

        .btn-code .card .card-body .xmp {
            height: 0px;
            opacity: 0;
            margin-right: -18px !important;
            margin-left: -18px !important;
            border-left: 1px solid #ddd;
            transition: height 0.8s;
        }

            .btn-code .card .card-body .xmp > .col {
                padding: 0;
                margin: 0;
                height: 0px;
                border-top: none;
            }

                .btn-code .card .card-body .xmp > .col pre {
                    height: 0px;
                    width: 100%;
                    padding: 0 11px !important;
                    display: inline-flex;
                }

                .btn-code .card .card-body .xmp > .col code {
                    width: 100%;
                    height: 0px;
                    padding-left: 20px !important;
                    height: calc(100%) !important;
                }

    .btn-code input[type=checkbox] {
        position: absolute;
        right: -5px;
        z-index: 1000;
        width: 59px;
        height: 40px;
        cursor: pointer;
        background: red;
        opacity: 0;
        border: none;
        background: none;
        outline: none;
        cursor: pointer;
    }

        .btn-code input[type=checkbox]:focus {
            outline: 0;
        }

        .btn-code input[type=checkbox]:checked ~ .card {
            border: 1px solid #ddd;
            transition: all 0.8s;
        }

            .btn-code input[type=checkbox]:checked ~ .card .pre {
                display: block;
                height: auto;
                transition: all 0.8s;
                margin-top: 8px;
                margin-bottom: 8px;
            }

            .btn-code input[type=checkbox]:checked ~ .card > .card-header {
                padding: 0.75rem 1.25rem;
                margin-bottom: 0;
                height: 45px;
                background-color: rgba(0, 0, 0, 0.03);
                border-bottom: 1px solid rgba(0, 0, 0, 0.125);
                transition: all 0.3s;
            }

            .btn-code input[type=checkbox]:checked ~ .card > .card-body > .xmp {
                height: auto;
                opacity: 1;
                transition: all 0.8s;
            }

                .btn-code input[type=checkbox]:checked ~ .card > .card-body > .xmp > .col {
                    height: auto;
                    transition: all 0.8s;
                    padding: 15px 0 0 0;
                    border-top: 1px solid #ddd;
                    border-right: 1px solid #ddd;
                }

                    .btn-code input[type=checkbox]:checked ~ .card > .card-body > .xmp > .col pre {
                        height: auto;
                        transition: all 0.8s;
                    }

                    .btn-code input[type=checkbox]:checked ~ .card > .card-body > .xmp > .col code {
                        height: auto;
                        transition: all 0.8s;
                    }

.typographytable > thead > tr > th {
    border-right: 1px solid #F9F9F9;
}

    .typographytable > thead > tr > th:last-child {
        border-right: 0 !important;
    }

.typographytable > tbody > tr > th, .typographytable > tbody > tr > td {
    /*border-right: 1px solid #dee2e6 !important;*/
    border: none !important;
}

.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #ffffff;
}

.typographytable > tbody > tr > th, .typographytable > tbody > tr > td:last-child {
    border: none !important;
}

.typographytable th, .typographytable td {
    border-top: 1px solid #ffffff !important;
    border-left: 1px solid #F9F9F9 !important;
}

.typographytable > tbody {
    border: none !important;
}

.Shadows_box {
    box-shadow: 0px 7px 20px rgba(44, 60, 89, 0.07);
    display: inline-flex;
    flex-direction: column;
}

.colorsText {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
}

    .colorsText > div {
        width: 64px;
        text-align: center;
        font-size: 0.875rem;
        background: #FFFFFF;
    }

        .colorsText > div:first-child {
            width: 120px;
        }

.colorShadows {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
}

    .colorShadows > div {
        height: 88px;
        width: 64px;
        line-height: 88px;
        color: #ffffff;
        text-align: center;
        font-size: 0.875rem;
        background: #FFFFFF;
    }

        .colorShadows > div:first-child {
            width: 120px;
        }

.bo_btm {
    border-bottom: 1px solid #dee2e6;
    padding-bottom: 16px;
}

.ma-btm {
    margin-bottom: 25px;
}

.height_88 {
    height: 88px;
    width: 100%;
}

.box-shadow {
    -moz-box-shadow: 0px 2px 9px #dddddd;
    -webkit-box-shadow: 0px 2px 9px #dddddd;
    box-shadow: 0px 2px 9px #dddddd;
    margin-bottom: 25px;
    display: inline-block;
}

#nav-wrap {
    width: 100%;
}

    #nav-wrap ul {
        list-style: none;
    }

        #nav-wrap ul li {
            list-style: none;
            padding: 5px 0;
        }

            #nav-wrap ul li a {
                display: block;
                position: relative;
                width: 100%;
                text-decoration: none;
                padding: 0 15px;
                height: 25px;
                color: #2C3C59;
                border-left: 2px solid #FFF !important;
                -webkit-transition: border 0.5s;
                -moz-transition: border 0.5s;
                -ms-transition: border 0.5s;
                -o-transition: border 0.5s;
                transition: border 0.5s;
            }

            #nav-wrap ul li .active {
                border-left: 2px solid #56A7FD !important;
                font-size: 16px !important;
                font-weight: 600 !important;
                color: #56A7FD !important;
                -webkit-transition: border 0.5s;
                -moz-transition: border 0.5s;
                -ms-transition: border 0.5s;
                -o-transition: border 0.5s;
                transition: border 0.5s;
            }

    #nav-wrap .nav-mobile {
        position: relative;
        padding-left: 15px;
        display: block;
        height: 25px;
        width: 100%;
    }

        #nav-wrap .nav-mobile.left::after {
            top: 3px;
            left: -8px;
            transform: rotate(-90deg);
            -webkit-transition: all 0.5s;
            -moz-transition: all 0.5s;
            -ms-transition: all 0.5s;
            -o-transition: all 0.5s;
            transition: all 0.5s;
        }

.htmlRow {
    display: inline-block;
}

    .htmlRow > div {
        height: 88px;
        padding: 0;
        position: relative;
        margin-bottom: 25px;
    }

        .htmlRow > div span {
            position: absolute;
            bottom: -22px;
            left: 0;
        }

        .htmlRow > div:nth-of-type(1) {
            width: 180px;
            display: inline-block;
        }

        .htmlRow > div:nth-of-type(2) {
            width: 120px;
            display: inline-block;
        }

        .htmlRow > div:nth-of-type(3) {
            width: 80px;
            display: inline-block;
        }

.titles {
    width: 100%;
    height: 112px;
    display: block;
}

.leftnavHeight {
    flex-basis: auto !important;
    -webkit-box-flex: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    width: 320px !important;
}

.leftNavFix {
    border-left: 1px solid #dee2e6;
    padding-top: 25px;
    padding-right: 15px;
    padding-left: 15px;
    height: calc(100vh - 5px);
    overflow-y: auto;
    width: 320px !important;
}

.navAside {
    position: fixed;
    top: 0;
    right: 0;
}

.htmls {
    margin-top: 25px;
}

    .htmls > div {
        background: rgba(240, 240, 240, 0.91);
        height: 40px;
        color: #0c0c0c;
    }

        .htmls > div > div {
            background: rgba(45, 61, 90, 0.91);
            height: 40px;
            color: #ffffff;
        }

.bg-pearl-blue {
    background: #d5e9fa !important;
}

.dowul li {
    margin-top: 0.5rem;
}

.imgeslist {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    flex-wrap: wrap;
}

    .imgeslist .img-box {
        width: 5rem;
        margin: 1rem;
        padding: 0.5rem;
        background: #FFFFFF;
        border: 1px solid #D5E9FA;
        height: auto;
        position: relative;
    }

    .imgeslist .big {
        width: 15rem;
    }

.column {
    display: flex;
    justify-content: flex-start;
    flex-flow: column;
}

h2, h3 p div {
    color: #2C3C59 !important;
}

.cole {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    height: 70px;
    border-right: 1px solid white;
    color: white
}

    .cole:last-child {
        border-right: none;
    }
/*# sourceMappingURL=global.css.map */

