//colors
@mixin ImportantColors($name,$per,$vaule) {
	.br-#{$name} {
		&#{$per} {
			border-color: $vaule !important;
		}
	}
	.bg-#{$name} {
		&#{$per} {
			background: $vaule !important;
		}
	}
	.ft-#{$name} {
		&#{$per} {
			color: $vaule !important;
		}
	}
}
@mixin Colors($name,$per,$vaule) {
	.br-#{$name} {
		&#{$per} {
			border-color: $vaule ;
		}
	}
	.bg-#{$name} {
		&#{$per} {
			background: $vaule ;
		}
	}
	.ft-#{$name} {
		&#{$per} {
			color: $vaule ;
		}
	}
}

@mixin expecedColors($r,$g,$b) {
	@if $r {
		& {
			color: $r !important;
		}
	}
	& {
		color: $r !important;
	}
	&-70 {
		color: $g !important;
	}
	&-50 {
		color: $b !important;
	}

	&-bg {
		background: $r !important;
	}
	&-bg-50 {
		background: $b !important;
	}
	&-bg-70 {
		background: $g !important;
	}
}

//flex
@mixin flexCenter($align) {
	display: flex;
	justify-content: $align;
	align-items: $align;
	flex-direction: row;
	flex-wrap: nowrap;
}

@mixin transitionAll5($align:0.5s,$obj:all) {
	transition: $obj $align;
}

@mixin arrowTransition($time, $rotate) {
	-webkit-transform: rotate($rotate);
	transform: rotate($rotate);
	transition: -webkit-transform $time;
	transition: transform $time, -webkit-transform $time;
}

@mixin rollBoder($padding,$minWidth:220px, $top:calc(100% + 0.571rem)) {
	& > ul {
		padding: $padding;
		left: 0;
		right: 0;
		top: $top;
		min-width: $minWidth;
	}
}

@mixin roll($liPadding:$px10 1.1428571428571428em,$liBg:$themeActivity) {
	& > ul {
		position: absolute;
		left: 0;
		color: $body;
		background: $light;
		border-radius: $borderR;
		border: 1px solid $themeDisabledColor;
		list-style: none;
		text-decoration: none;
		overflow-x: hidden;
		overflow-y: auto;
		max-height: 10rem;
		z-index: 5;
		@include rollBackground;
		.label {
			min-height: 1em;
			width: 100%;
			padding: $liPadding;
			display: flex;
			font-weight: bold;
			align-items: center;
			justify-content: space-between;

		}
		li {
			font-size: 1rem;
			list-style: none;
			cursor: pointer;
			font-weight: normal;
			display: flex;
			align-items: center;
			padding: $liPadding;
			border-radius: $borderR;
			&:hover {
				background: $liBg;
			}
		}
		.active {
			background: $liBg !important;
		}
	}
}

@mixin rollBackground() {
	&::-webkit-scrollbar {
		width: $px8;
		height: 0.0625rem;
	}
	&::-webkit-scrollbar-thumb {
		border-radius: 6px;
		//-webkit-box-shadow: inset 0 0 0.3125rem var(--grayLine);
		background: var(--G700);
	}
	&::-webkit-scrollbar-track {
		//-webkit-box-shadow: inset 0 0 0.3125rem var(--grayLine);
		border-radius: 2px;
		background: var(--G100);
	}
}

@mixin placeholder() {
	&::-webkit-input-placeholder {
		color: $inputPlaceholderColor;
	}
	&:-moz-placeholder {
		color: $inputPlaceholderColor;
	}
	&::-moz-placeholder {
		color: $inputPlaceholderColor;
	}
	&:-ms-input-placeholder {
		color: $inputPlaceholderColor;
	}
}

@mixin opacity($int) {
	filter: alpha(opacity=$int);
	-moz-opacity: $int;
	-khtml-opacity: $int;
	opacity: $int;
}

@mixin btn() {
	outline: 0;
	width: inherit;
	border: none;
	white-space: nowrap;
	vertical-align: middle;
	background: inherit;
	cursor: pointer;
	box-sizing: border-box;
	border-radius: $borderR;
	&:hover, &:focus {
		text-decoration: none;
		outline: 0 !important;
	}

}
@mixin dropdown() {
	> ul {
		display: none;
	}

	&:focus {
		> ul {
			display: block !important;
		}
		&::after {
			@include arrowTransition(.5s, -135deg);
			margin-top: -3px !important;
		}
	}
	&.active {
		background: $neutralsPressed;
		ul{
			display: block !important;
		}
		&::after {
			@include arrowTransition(.5s, -135deg);
			margin-top: -3px !important;
		}
	}
}
@mixin insadeInput() {
	outline: 0;
	border: none;
	cursor: pointer;
	margin: 0;
	&:hover, &:focus {
		text-decoration: none;
		border: none;
		outline: 0 !important;
	}
}
@mixin btna($color){
	&> a {
		color: $color;
		&:link, &:visited, &:active, &:hover {
			color: $color;
			text-decoration: none;
		}
	}
}

@mixin iconDot() {
	.icon-dot {
		position: relative;
		background: currentcolor;
		border-radius: 3px;
		&:before {
			content: '';
			position: absolute;
			left: 0;
			top: 0.375rem;
			width: 0.1875rem;
			height: 0.1875rem;
			background: currentcolor;
			border-radius: 3px;
		}
		&:after {
			content: '';
			left: 0;
			position: absolute;
			top: -0.375rem;
			width: 0.1875rem;
			height: 0.1875rem;
			background: currentcolor;
			border-radius: 3px;
		}
	}
}

@mixin andAfter() {
	&::after {
		display: inline-block;
		content: " ";
		position: absolute;
		top: 41%;
		margin-top: -5px;
		right: 11px;
		height: 0.7em !important;
		width: 0.7em !important;
		border-width: 0 2px 2px 0;
		border-color: currentcolor !important;
		border-style: solid !important;
		-webkit-transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
		transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
		-webkit-transform-origin: center;
		transform-origin: center;
		transition: -webkit-transform .3s;
		transition: transform .3s, -webkit-transform .3s;
		position: absolute;
		bottom: 12px !important;
		margin-left: -0.375em !important;
	}
}

@mixin noboder40($impo:null) {
	@if $impo {
		padding-top: $em9-5 !important;
		padding-bottom: $em9-5!important;
	}@else{
		padding-top: $em9-5;
		padding-bottom: $em9-5;
	}

	min-height: 1em;
}
@mixin boder40($impo:null) {
	@if $impo {
		padding-top: $em8-5 !important;
		padding-bottom: $em8-5!important;
	}@else{
		padding-top: $em8-5;
		padding-bottom: $em8-5;
	}
	min-height: 1em;
}
@mixin noboder32($impo:null) {
	@if $impo {
		padding-top: $em5-5 !important;
		padding-bottom: $em5-5!important;
	}@else{
		padding-top: $em5-5;
		padding-bottom: $em5-5;
	}
	min-height: 1em;
}

@mixin boder32($impo:null) {
	@if $impo {
		padding-top:$em4-5 !important;
		padding-bottom:$em4-5 !important;
	}@else{
		padding-top:$em4-5;
		padding-bottom:$em4-5;
	}
	min-height: 1em;
}
@mixin boder32Icon() {
	padding:$em8;
	min-height: 1em;
}
@mixin boder24() {
	padding: $em4;
	min-height: 1em;
}
@mixin noboder24() {
	padding-top:$em3;
	padding-bottom:$em3;
	min-height: 1em;
}

@mixin f-12-boder24() {
	padding: $em4;
	min-height: 1em;
}
@mixin  f-12-noboder24() {
	padding-top:0.25em;
	padding-bottom:0.25em;
	min-height: 1em;
}
@mixin  f-13-noboder20() {
	padding-top:$em0-5;
	padding-bottom:$em0-5;
	min-height: 1em;
}
@mixin noboder48() {
	padding-top: $px9-5;
	padding-bottom: $px9-5;
}
@mixin noboder36() {
	padding-top:$px9;
	padding-bottom:$px9;
}
@mixin noboder42() {
	padding-top:$em12;
	padding-bottom:$em12;
}
@mixin boder56() {
	padding-top:1em;
	padding-bottom:1em;
}
@mixin flex-row-nowrap-center {
	display: flex;
	flex-direction: row !important;
	flex-flow: nowrap;
	justify-content: center;
	align-items: center;
	align-content: center;
}

@mixin flex-column-center {
	display: flex;
	flex-direction: column;
	align-items:center;
}
