$body: #444545;
$bodyReplenishColor: #777879;
$light: #ffffff;
$themePressed: #488492;
$themeHover: #7FA9B3;
$themeDefault:#91B5BE ; 
$secondary: #6D9DA8;
$themeActivity: #E9F0F2;
$replenishSemantic: #A3C1C8;
$neutralsPressed: #B6CED3;
$replenishSecondary: #D3E2E5;
$replenishSecondary: #D3E2E5;
$neutralsColor: #E4E4E4;
$lightBlue: rgba(200, 216, 228, 0.5);
$themeDisabledColor: #989A9C;
$inputHoverColor: #777879;
$borderColor: #989A9C;
$tableBorder: #CECECE;
$tableHeardBgAndHover: #F9F9F9;
$inputPlaceholderColor: #B4B5B5;
$themeDisabledBg: #ECECEC;
$lightGray: #F9F9F9;
$rejected: #ECECEC;
$inputBorderColor: #DADADA;
$error: #D32F2F;
$errorSecondary: #F6718B;
$errorHint: #FCD6DE;
$selectionIconBg: #FCD6DE;
$warning: #E69135;
$succeed:  #EDF2F6;
$succeedHint:  #52AB98;
$succeed-border-color:  #C8D8E4;
$partition: #ECECEC;
$unfinished: #DADADA;
$unfinishedBorder: #989A9C;
$unfinishedColor:  rgba(68, 69, 69, 0.3);;
$shadowColor: rgba(44, 60, 89, 0.07);
@include Colors("selectionIcon", '', $selectionIconBg);
@include Colors("disabled", '', $themeDisabledColor);
@include Colors("rejected", '', $rejected);
@include Colors("changes", '', $lightBlue);
@include Colors("aLink", '', $themePressed);
@include Colors("error", '', $error);
@include Colors("errorHint", '', $errorHint);
@include Colors("succeedHint", '', $succeedHint);
@include Colors("unfinished", '', $unfinished);
@include Colors("warning", '', $warning);
.ft-unfinished{
	color: $unfinishedColor;
}
.bg-unfinished{
	background: $unfinished;
}
.br-unfinished{
	border-color: $unfinishedBorder;
}
.ft-succeed{
	color: $succeed;
}
.bg-succeed{
	background: $succeed;
}
.br-succeed{
	border-color: $succeed-border-color;
}
.partition {
	background: $partition;
}
.disabledMoudle {
	background: $lightGray !important;
}
$borderR: 2px;
$shadow: 0px 7px 20px $shadowColor;
$px32: 2.2857142857142856rem;
$px24: 1.7142857142857142rem;
$px20: 1.4285714285714286rem;
$px16: 1.1428571428571428rem;
$px15: 1.0714285714285714rem;
$px14: 1rem;
$px12: 0.8571428571428571rem;
$px11: 0.7857142857142857rem;
$px10: 0.7142857142857143rem;
$px9-5: 0.6785714285714286rem;
$px9: 0.6428571428571429rem;
$px8-5: 0.6071428571428571rem;
$px8: 0.5714285714285714rem;
$px7: 0.5rem;
$px6-5: 0.4642857142857143em;
$px6: 0.42857142857142855rem;
$px5-5: 0.39285714285714285rem;
$px5: 0.35714285714285715rem;
$px4-5: 0.32142857142857145rem;
$px4: 0.2857142857142857rem;
$px3-5: 0.25rem;
$px3: 0.21428571428571427rem;
$px2: 0.14285714285714285rem;
$px1: 0.07142857142857142rem;
$pxr1: 0.07142857142857142rem;
$pxr0-5: 0.03571428571428571rem;

$em24: 1.7142857142857142em;
$em20: 1.4285714285714286em;
$em16: 1.1428571428571428em;
$em15: 1.0714285714285714em;
$em14: 1em;
$em12: 0.8571428571428571em;
$em11: 0.7857142857142857em;
$em10: 0.7142857142857143em;
$em9-5: 0.6785714285714286em;
$em9: 0.6428571428571429em;
$em8-5: 0.6071428571428571em;
$em8: 0.5714285714285714em;
$em7: 0.5em;
$em6-5: 0.4642857142857143em;
$em6: 0.42857142857142855em;
$em5-5: 0.39285714285714285em;
$em5: 0.35714285714285715em;
$em4-5: 0.32142857142857145em;
$em4: 0.2857142857142857em;
$em3: 0.21428571428571427em;
$em3-5: 0.25em;
$em2: 0.14285714285714285em;
$em1: 0.07142857142857142em;
$em1: 0.07142857142857142em;
$em0-5: 0.03571428571428571em;