/*
Error: Undefined mixin 'transitionAll5'.
        on line 8 of E:\MyProject\0BillPayScss\scss\aside-nav.scss, in `transitionAll5'
        from line 8 of E:\MyProject\0BillPayScss\scss\aside-nav.scss

3: 	&aside {
4: 		height: 100%;
5: 		box-shadow: 0px 0.5rem 4.571428571428571rem rgba(44, 60, 89, 0.17);
6: 		z-index: 99999;
7: 		.aside-unfold {
8: 			@include transitionAll5;
9: 			position: relative;
10: 			height: 100%;
11: 			display: flex;
12: 			.aside-controller {
13: 				position: absolute;

Backtrace:
E:\MyProject\0BillPayScss\scss\aside-nav.scss:8:in `transitionAll5'
E:\MyProject\0BillPayScss\scss\aside-nav.scss:8
D:/zPrograms/Koala_20210706/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:352:in `block in visit_mixin'
D:/zPrograms/Koala_20210706/rubygems/gems/sass-3.5.2/lib/sass/stack.rb:98:in `block in with_mixin'
D:/zPrograms/Koala_20210706/rubygems/gems/sass-3.5.2/lib/sass/stack.rb:135:in `with_frame'
D:/zPrograms/Koala_20210706/rubygems/gems/sass-3.5.2/lib/sass/stack.rb:98:in `with_mixin'
D:/zPrograms/Koala_20210706/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:350:in `visit_mixin'
D:/zPrograms/Koala_20210706/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/base.rb:36:in `visit'
D:/zPrograms/Koala_20210706/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:162:in `block in visit'
D:/zPrograms/Koala_20210706/rubygems/gems/sass-3.5.2/lib/sass/stack.rb:79:in `block in with_base'
D:/zPrograms/Koala_20210706/rubygems/gems/sass-3.5.2/lib/sass/stack.rb:135:in `with_frame'
D:/zPrograms/Koala_20210706/rubygems/gems/sass-3.5.2/lib/sass/stack.rb:79:in `with_base'
D:/zPrograms/Koala_20210706/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:162:in `visit'
D:/zPrograms/Koala_20210706/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:444:in `block (2 levels) in visit_rule'
D:/zPrograms/Koala_20210706/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:444:in `map'
D:/zPrograms/Koala_20210706/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:444:in `block in visit_rule'
D:/zPrograms/Koala_20210706/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:183:in `with_environment'
D:/zPrograms/Koala_20210706/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:442:in `visit_rule'
D:/zPrograms/Koala_20210706/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/base.rb:36:in `visit'
D:/zPrograms/Koala_20210706/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:162:in `block in visit'
D:/zPrograms/Koala_20210706/rubygems/gems/sass-3.5.2/lib/sass/stack.rb:79:in `block in with_base'
D:/zPrograms/Koala_20210706/rubygems/gems/sass-3.5.2/lib/sass/stack.rb:135:in `with_frame'
D:/zPrograms/Koala_20210706/rubygems/gems/sass-3.5.2/lib/sass/stack.rb:79:in `with_base'
D:/zPrograms/Koala_20210706/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:162:in `visit'
D:/zPrograms/Koala_20210706/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:444:in `block (2 levels) in visit_rule'
D:/zPrograms/Koala_20210706/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:444:in `map'
D:/zPrograms/Koala_20210706/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:444:in `block in visit_rule'
D:/zPrograms/Koala_20210706/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:183:in `with_environment'
D:/zPrograms/Koala_20210706/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:442:in `visit_rule'
D:/zPrograms/Koala_20210706/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/base.rb:36:in `visit'
D:/zPrograms/Koala_20210706/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:162:in `block in visit'
D:/zPrograms/Koala_20210706/rubygems/gems/sass-3.5.2/lib/sass/stack.rb:79:in `block in with_base'
D:/zPrograms/Koala_20210706/rubygems/gems/sass-3.5.2/lib/sass/stack.rb:135:in `with_frame'
D:/zPrograms/Koala_20210706/rubygems/gems/sass-3.5.2/lib/sass/stack.rb:79:in `with_base'
D:/zPrograms/Koala_20210706/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:162:in `visit'
D:/zPrograms/Koala_20210706/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:444:in `block (2 levels) in visit_rule'
D:/zPrograms/Koala_20210706/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:444:in `map'
D:/zPrograms/Koala_20210706/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:444:in `block in visit_rule'
D:/zPrograms/Koala_20210706/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:183:in `with_environment'
D:/zPrograms/Koala_20210706/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:442:in `visit_rule'
D:/zPrograms/Koala_20210706/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/base.rb:36:in `visit'
D:/zPrograms/Koala_20210706/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:162:in `block in visit'
D:/zPrograms/Koala_20210706/rubygems/gems/sass-3.5.2/lib/sass/stack.rb:79:in `block in with_base'
D:/zPrograms/Koala_20210706/rubygems/gems/sass-3.5.2/lib/sass/stack.rb:135:in `with_frame'
D:/zPrograms/Koala_20210706/rubygems/gems/sass-3.5.2/lib/sass/stack.rb:79:in `with_base'
D:/zPrograms/Koala_20210706/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:162:in `visit'
D:/zPrograms/Koala_20210706/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
D:/zPrograms/Koala_20210706/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/base.rb:52:in `map'
D:/zPrograms/Koala_20210706/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/base.rb:52:in `visit_children'
D:/zPrograms/Koala_20210706/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:171:in `block in visit_children'
D:/zPrograms/Koala_20210706/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:183:in `with_environment'
D:/zPrograms/Koala_20210706/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:170:in `visit_children'
D:/zPrograms/Koala_20210706/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/base.rb:36:in `block in visit'
D:/zPrograms/Koala_20210706/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:190:in `visit_root'
D:/zPrograms/Koala_20210706/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/base.rb:36:in `visit'
D:/zPrograms/Koala_20210706/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:161:in `visit'
D:/zPrograms/Koala_20210706/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:10:in `visit'
D:/zPrograms/Koala_20210706/rubygems/gems/sass-3.5.2/lib/sass/tree/root_node.rb:36:in `css_tree'
D:/zPrograms/Koala_20210706/rubygems/gems/sass-3.5.2/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
D:/zPrograms/Koala_20210706/rubygems/gems/sass-3.5.2/lib/sass/engine.rb:389:in `_render_with_sourcemap'
D:/zPrograms/Koala_20210706/rubygems/gems/sass-3.5.2/lib/sass/engine.rb:307:in `render_with_sourcemap'
D:/zPrograms/Koala_20210706/rubygems/gems/sass-3.5.2/lib/sass/exec/sass_scss.rb:391:in `run'
D:/zPrograms/Koala_20210706/rubygems/gems/sass-3.5.2/lib/sass/exec/sass_scss.rb:63:in `process_result'
D:/zPrograms/Koala_20210706/rubygems/gems/sass-3.5.2/lib/sass/exec/base.rb:52:in `parse'
D:/zPrograms/Koala_20210706/rubygems/gems/sass-3.5.2/lib/sass/exec/base.rb:19:in `parse!'
D:/zPrograms/Koala_20210706/rubygems/gems/sass-3.5.2/bin/sass:13:in `<top (required)>'
D:/zPrograms/Koala_20210706/bin/sass:22:in `load'
D:/zPrograms/Koala_20210706/bin/sass:22:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Undefined mixin 'transitionAll5'.\A         on line 8 of E:\MyProject\0BillPayScss\scss\aside-nav.scss, in `transitionAll5'\A         from line 8 of E:\MyProject\0BillPayScss\scss\aside-nav.scss\A \A 3: 	&aside {\A 4: 		height: 100%;\A 5: 		box-shadow: 0px 0.5rem 4.571428571428571rem rgba(44, 60, 89, 0.17);\A 6: 		z-index: 99999;\A 7: 		.aside-unfold {\A 8: 			@include transitionAll5;\A 9: 			position: relative;\A 10: 			height: 100%;\A 11: 			display: flex;\A 12: 			.aside-controller {\A 13: 				position: absolute;"; }
