@import url("https://fonts.googleapis.com/css2?family=Lato:400,700%27");
html, body {
  font-family: "Lato", "AvenirNext-Regular" !important;
  font-size: 14px;
  height: 100%; }
  html h1, html h2, html h3, html h4, html .h1, html .h2, html .h3, html .h4, html but-t1, html sub-t1, body h1, body h2, body h3, body h4, body .h1, body .h2, body .h3, body .h4, body but-t1, body sub-t1 {
    font-family: "Lato" !important;
    font-weight: 700 !important; }
  html h1.h1, body h1.h1 {
    font-size: 1.6rem !important;
    letter-spacing: 0.015rem !important; }
  html h2.h2, body h2.h2 {
    font-size: 1.2rem !important;
    letter-spacing: 0.015rem; }
  html h3, html .h3, body h3, body .h3 {
    font-size: 0.9rem !important;
    letter-spacing: 0.02rem; }
  html h4, html .h4, body h4, body .h4 {
    font-size: 0.8rem !important;
    letter-spacing: 0.02rem; }
  html .bod-t1, body .bod-t1 {
    font-size: 0.8rem;
    letter-spacing: 0.02rem;
    font-weight: 400; }
  html .bod-t2, body .bod-t2 {
    font-size: 0.7rem;
    letter-spacing: 0.02rem;
    font-weight: 400; }
  html .but-t1, body .but-t1 {
    letter-spacing: 0.02rem;
    font-size: 0.7rem; }
  html .sub-t1, body .sub-t1 {
    letter-spacing: 0.015rem;
    font-size: 0.65rem; }
  html .sub-t2, body .sub-t2 {
    letter-spacing: 0.015rem;
    font-size: 0.6rem;
    font-weight: 400; }
  html .sm-t, body .sm-t {
    font-size: 0.5rem;
    letter-spacing: 0.015rem;
    font-weight: 400; }

@media only screen and (max-width: 1080px), only screen and (max-device-width: 1080px) {
  html, body {
    font-size: 14px; } }
@media only screen and (max-width: 960px), only screen and (max-device-width: 960px) {
  html, body {
    font-font-size: 12px;
    font-transform: scale(0.83); } }
@font-face {
  font-family: 'unis';
  src: url("fonts/unis.eot?qj971j");
  src: url("fonts/unis.eot?qj971j#iefix") format("embedded-opentype"), url("fonts/unis.ttf?qj971j") format("truetype"), url("fonts/unis.woff?qj971j") format("woff"), url("fonts/unis.svg?qj971j#unis") format("svg");
  font-weight: normal;
  font-style: normal; }
[class^="icon-"], [class*=" icon-"] {
  font-family: 'unis' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-7:before {
  content: "\e900";
  color: currentcolor; }

.icon-8:before {
  content: "\e901";
  color: currentcolor; }

.icon-9:before {
  content: "\e902";
  color: currentcolor; }

.icon-10:before {
  content: "\e903";
  color: currentcolor; }

.icon-11:before {
  content: "\e904";
  color: currentcolor; }

.icon-12:before {
  content: "\e905";
  color: currentcolor; }

.icon-13:before {
  content: "\e906";
  color: currentcolor; }

.icon-14:before {
  content: "\e907";
  color: currentcolor; }

.icon-15:before {
  content: "\e908";
  color: currentcolor; }

.icon-16:before {
  content: "\e909";
  color: currentcolor; }

.icon-17:before {
  content: "\e90a";
  color: currentcolor; }

.icon-18:before {
  content: "\e90b";
  color: currentcolor; }

.icon-19:before {
  content: "\e90c";
  color: currentcolor; }

.icon-20:before {
  content: "\e90d";
  color: currentcolor; }

.icon-21:before {
  content: "\e90e";
  color: currentcolor; }

.icon-22:before {
  content: "\e90f";
  color: currentcolor; }

.icon-23:before {
  content: "\e910";
  color: currentcolor; }

.icon-24:before {
  content: "\e911";
  color: currentcolor; }

.icon-25:before {
  content: "\e912";
  color: currentcolor; }

.icon-26:before {
  content: "\e913";
  color: currentcolor; }

.icon-27:before {
  content: "\e914";
  color: currentcolor; }

.icon-28:before {
  content: "\e915";
  color: currentcolor; }

.icon-29:before {
  content: "\e916";
  color: currentcolor; }

.icon-30:before {
  content: "\e917";
  color: currentcolor; }

.icon-31:before {
  content: "\e918";
  color: currentcolor; }

.icon-32:before {
  content: "\e919";
  color: currentcolor; }

.icon-33:before {
  content: "\e91a";
  color: currentcolor; }

.icon-34:before {
  content: "\e91b";
  color: currentcolor; }

.icon-35:before {
  content: "\e91c";
  color: currentcolor; }

.icon-36:before {
  content: "\e91d";
  color: currentcolor; }

.icon-37:before {
  content: "\e91e";
  color: currentcolor; }

.icon-38:before {
  content: "\e91f";
  color: currentcolor; }

.icon-39:before {
  content: "\e920";
  color: currentcolor; }

.icon-40:before {
  content: "\e921";
  color: currentcolor; }

.icon-41:before {
  content: "\e922";
  color: currentcolor; }

.icon-42:before {
  content: "\e923";
  color: currentcolor; }

.icon-43:before {
  content: "\e924";
  color: currentcolor; }

.icon-44:before {
  content: "\e925";
  color: currentcolor; }

.icon-45:before {
  content: "\e926";
  color: currentcolor; }

.icon-46:before {
  content: "\e927";
  color: currentcolor; }

.icon-47:before {
  content: "\e928";
  color: currentcolor; }

.icon-48:before {
  content: "\e929";
  color: currentcolor; }

.icon-49:before {
  content: "\e92a"; }

.icon-50:before {
  content: "\e92b";
  color: currentcolor; }

.icon-51:before {
  content: "\e92c";
  color: currentcolor; }

.icon-52:before {
  content: "\e92d";
  color: currentcolor; }

.icon-53:before {
  content: "\e92e";
  color: currentcolor; }

.icon-54:before {
  content: "\e92f";
  color: currentcolor; }

.icon-55:before {
  content: "\e930";
  color: currentcolor; }

.icon-56:before {
  content: "\e931";
  color: currentcolor; }

.icon-57:before {
  content: "\e932";
  color: currentcolor; }

.icon-58:before {
  content: "\e933";
  color: currentcolor; }

.icon-60:before {
  content: "\e934";
  color: currentcolor; }

.icon-61:before {
  content: "\e935";
  color: currentcolor; }

.icon-62:before {
  content: "\e936";
  color: currentcolor; }

.icon-63:before {
  content: "\e937";
  color: currentcolor; }

.icon-64:before {
  content: "\e938";
  color: currentcolor; }

.icon-65:before {
  content: "\e939";
  color: currentcolor; }

.icon-66:before {
  content: "\e93a";
  color: currentcolor; }

.icon-67:before {
  content: "\e93b";
  color: currentcolor; }

.icon-68:before {
  content: "\e93c";
  color: currentcolor; }

.icon-69:before {
  content: "\e93d";
  color: currentcolor; }

.icon-70:before {
  content: "\e93e";
  color: currentcolor; }

.icon-71:before {
  content: "\e93f";
  color: currentcolor; }

.icon-72:before {
  content: "\e940";
  color: currentcolor; }

.icon-73:before {
  content: "\e941";
  color: currentcolor; }

.icon-74:before {
  content: "\e942";
  color: currentcolor; }

.icon-76:before {
  content: "\e943";
  color: currentcolor; }

.icon-77:before {
  content: "\e944";
  color: currentcolor; }

.icon-78:before {
  content: "\e945";
  color: currentcolor; }

.icon-79:before {
  content: "\e946";
  color: currentcolor; }

.icon-80:before {
  content: "\e947";
  color: currentcolor; }

.icon-81:before {
  content: "\e948";
  color: currentcolor; }

.icon-82:before {
  content: "\e949";
  color: currentcolor; }

.icon-83:before {
  content: "\e94a";
  color: currentcolor; }

.icon-84:before {
  content: "\e94b";
  color: currentcolor; }

.icon-85:before {
  content: "\e94c";
  color: currentcolor; }

.icon-86:before {
  content: "\e94d";
  color: currentcolor; }

.icon-87:before {
  content: "\e94e";
  color: currentcolor; }

.icon-1:before {
  content: "\e94f";
  color: currentcolor; }

.icon-2:before {
  content: "\e950";
  color: currentcolor; }

.icon-3:before {
  content: "\e951";
  color: currentcolor; }

.icon-4:before {
  content: "\e952";
  color: currentcolor; }

.icon-5:before {
  content: "\e953";
  color: currentcolor; }

.icon-6:before {
  content: "\e954";
  color: currentcolor; }

/*# sourceMappingURL=fonts.css.map */
