*,
*::before,
*::after {
  box-sizing: border-box; }

html {
  font-family: sans-serif !important;
  line-height: 1.15 !important;
  -webkit-text-size-adjust: 100% !important;
  -ms-text-size-adjust: 100% !important;
  -ms-overflow-style: scrollbar !important;
  -webkit-tap-highlight-color: transparent !important; }

article, aside, dialog, figcaption, figure, footer, header, hgroup, main, nav, section {
  display: block; }

body {
  margin: 0 !important;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  text-align: left; }

[tabindex="-1"]:focus {
  outline: 0 !important; }

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible; }

h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0; }

p {
  margin-top: 0;
  margin-bottom: 1rem; }

abbr[title],
abbr[data-original-title] {
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
  cursor: help;
  border-bottom: 0; }

address {
  margin-bottom: 1rem;
  font-style: normal;
  line-height: inherit; }

ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1rem; }

ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0; }

dt {
  font-weight: 700; }

dd {
  margin-bottom: .5rem;
  margin-left: 0; }

blockquote {
  margin: 0 0 1rem; }

dfn {
  font-style: italic; }

b,
strong {
  font-weight: bolder; }

small {
  font-size: 80%; }

sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline; }

sub {
  bottom: -.25em; }

sup {
  top: -.5em; }

a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects; }

a:hover {
  color: #0056b3;
  text-decoration: underline; }

a:not([href]):not([tabindex]) {
  color: inherit;
  text-decoration: none; }

a:not([href]):not([tabindex]):hover, a:not([href]):not([tabindex]):focus {
  color: inherit;
  text-decoration: none; }

a:not([href]):not([tabindex]):focus {
  outline: 0; }

pre,
code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

pre {
  margin-top: 0;
  margin-bottom: 1rem;
  overflow: auto;
  -ms-overflow-style: scrollbar; }

figure {
  margin: 0 0 1rem; }

img {
  vertical-align: middle;
  border-style: none; }

svg:not(:root) {
  overflow: hidden; }

table {
  border-collapse: collapse; }

caption {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  color: #6c757d;
  text-align: left;
  caption-side: bottom; }

th {
  text-align: inherit; }

button {
  border-radius: 0; }

button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color; }

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit; }

button,
input {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  padding: 0;
  border-style: none; }

input[type="radio"],
input[type="checkbox"] {
  box-sizing: border-box;
  padding: 0; }

input[type="date"],
input[type="time"],
input[type="datetime-local"],
input[type="month"] {
  -webkit-appearance: listbox; }

textarea {
  overflow: auto;
  resize: vertical; }

fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0; }

legend {
  display: block;
  width: 100%;
  max-width: 100%;
  padding: 0;
  margin-bottom: .5rem;
  font-size: 1.5rem;
  line-height: inherit;
  color: inherit;
  white-space: normal; }

progress {
  vertical-align: baseline; }

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

[type="search"] {
  outline-offset: -2px;
  -webkit-appearance: none; }

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button; }

output {
  display: inline-block; }

summary {
  display: list-item;
  cursor: pointer; }

template {
  display: none; }

[hidden] {
  display: none !important; }

.d-flex {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important; }

.no-gutters > .col,
.no-gutters > [class*="col-"] {
  padding-right: 0;
  padding-left: 0; }

.flex-1 {
  flex: 1; }

.m-l-auto {
  margin-left: auto; }

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col,
.col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm,
.col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md,
.col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg,
.col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl,
.col-xl-auto {
  position: relative;
  width: 100%;
  min-height: 0.0625rem;
  padding-right: 16px;
  padding-left: 16px; }

.col {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%; }

.col-auto {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: auto;
  max-width: none; }

.col-1 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 8.333333%;
  flex: 0 0 8.333333%;
  max-width: 8.333333%; }

.col-2 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 16.666667%;
  flex: 0 0 16.666667%;
  max-width: 16.666667%; }

.col-3 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%; }

.col-4 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 33.333333%;
  flex: 0 0 33.333333%;
  max-width: 33.333333%; }

.col-5 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 41.666667%;
  flex: 0 0 41.666667%;
  max-width: 41.666667%; }

.col-6 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%; }

.col-7 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 58.333333%;
  flex: 0 0 58.333333%;
  max-width: 58.333333%; }

.col-8 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 66.666667%;
  flex: 0 0 66.666667%;
  max-width: 66.666667%; }

.col-9 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 75%;
  flex: 0 0 75%;
  max-width: 75%; }

.col-10 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 83.333333%;
  flex: 0 0 83.333333%;
  max-width: 83.333333%; }

.col-11 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 91.666667%;
  flex: 0 0 91.666667%;
  max-width: 91.666667%; }

.col-12 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%; }

.flex-row {
  -webkit-box-orient: horizontal !important;
  -webkit-box-direction: normal !important;
  -ms-flex-direction: row !important;
  flex-direction: row !important; }

.flex-column {
  -webkit-box-orient: vertical !important;
  -webkit-box-direction: normal !important;
  -ms-flex-direction: column !important;
  flex-direction: column !important; }

.flex-wrap {
  -ms-flex-wrap: wrap !important;
  flex-wrap: wrap !important; }

.flex-nowrap {
  -ms-flex-wrap: nowrap !important;
  flex-wrap: nowrap !important; }

.flex-wrap-reverse {
  -ms-flex-wrap: wrap-reverse !important;
  flex-wrap: wrap-reverse !important; }

.justify-content-start {
  -webkit-box-pack: start !important;
  -ms-flex-pack: start !important;
  justify-content: flex-start !important; }

.justify-content-end {
  -webkit-box-pack: end !important;
  -ms-flex-pack: end !important;
  justify-content: flex-end !important; }

.justify-content-center {
  -webkit-box-pack: center !important;
  -ms-flex-pack: center !important;
  justify-content: center !important; }

.justify-content-between {
  -webkit-box-pack: justify !important;
  -ms-flex-pack: justify !important;
  justify-content: space-between !important; }

.justify-content-around {
  justify-content: space-around !important; }

.align-items-start {
  -webkit-box-align: start !important;
  -ms-flex-align: start !important;
  align-items: flex-start !important; }

.align-items-end {
  -webkit-box-align: end !important;
  -ms-flex-align: end !important;
  align-items: flex-end !important; }

.align-items-center {
  -webkit-box-align: center !important;
  -ms-flex-align: center !important;
  align-items: center !important; }

.align-items-baseline {
  -webkit-box-align: baseline !important;
  -ms-flex-align: baseline !important;
  align-items: baseline !important; }

.align-items-stretch {
  -webkit-box-align: stretch !important;
  -ms-flex-align: stretch !important;
  align-items: stretch !important; }

.align-content-start {
  -ms-flex-line-pack: start !important;
  align-content: flex-start !important; }

.align-content-end {
  -ms-flex-line-pack: end !important;
  align-content: flex-end !important; }

.align-content-center {
  -ms-flex-line-pack: center !important;
  align-content: center !important; }

.align-content-between {
  -ms-flex-line-pack: justify !important;
  align-content: space-between !important; }

.align-content-around {
  align-content: space-around !important; }

.align-content-stretch {
  -ms-flex-line-pack: stretch !important;
  align-content: stretch !important; }

.align-self-auto {
  -ms-flex-item-align: auto !important;
  align-self: auto !important; }

.align-self-start {
  -ms-flex-item-align: start !important;
  align-self: flex-start !important; }

.align-self-end {
  -ms-flex-item-align: end !important;
  align-self: flex-end !important; }

.align-self-center {
  -ms-flex-item-align: center !important;
  align-self: center !important; }

.m-0 {
  margin: 0; }

.mt-0,
.my-0 {
  margin-top: 0; }

.mr-0,
.mx-0 {
  margin-right: 0; }

.mb-0,
.my-0 {
  margin-bottom: 0; }

.ml-0,
.mx-0 {
  margin-left: 0; }

.m-1 {
  margin: 0.25rem; }

.mt-1,
.my-1 {
  margin-top: 0.25rem; }

.mr-1,
.mx-1 {
  margin-right: 0.25rem; }

.mb-1,
.my-1 {
  margin-bottom: 0.25rem; }

.ml-1,
.mx-1 {
  margin-left: 0.25rem; }

.m-2 {
  margin: 0.5rem; }

.mt-2,
.my-2 {
  margin-top: 0.5rem; }

.mr-2,
.mx-2 {
  margin-right: 0.5rem; }

.mb-2,
.my-2 {
  margin-bottom: 0.5rem; }

.ml-2,
.mx-2 {
  margin-left: 0.5rem; }

.m-3 {
  margin: 1rem; }

.mt-3,
.my-3 {
  margin-top: 1rem; }

.mr-3,
.mx-3 {
  margin-right: 1rem; }

.mb-3,
.my-3 {
  margin-bottom: 1rem; }

.ml-3,
.mx-3 {
  margin-left: 1rem; }

.m-4 {
  margin: 1.5rem; }

.mt-4,
.my-4 {
  margin-top: 1.5rem; }

.mr-4,
.mx-4 {
  margin-right: 1.5rem; }

.mb-4,
.my-4 {
  margin-bottom: 1.5rem; }

.ml-4,
.mx-4 {
  margin-left: 1.5rem; }

.m-5 {
  margin: 3rem; }

.mt-5,
.my-5 {
  margin-top: 3rem; }

.mr-5,
.mx-5 {
  margin-right: 3rem; }

.mb-5,
.my-5 {
  margin-bottom: 3rem; }

.ml-5,
.mx-5 {
  margin-left: 3rem; }

.p-0 {
  padding: 0; }

.pt-0,
.py-0 {
  padding-top: 0; }

.pr-0,
.px-0 {
  padding-right: 0; }

.pb-0,
.py-0 {
  padding-bottom: 0; }

.pl-0,
.px-0 {
  padding-left: 0; }

.p-1 {
  padding: 0.25rem; }

.pt-1,
.py-1 {
  padding-top: 0.25rem; }

.pr-1,
.px-1 {
  padding-right: 0.25rem; }

.pb-1,
.py-1 {
  padding-bottom: 0.25rem; }

.pl-1,
.px-1 {
  padding-left: 0.25rem; }

.p-2 {
  padding: 0.5rem; }

.pt-2,
.py-2 {
  padding-top: 0.5rem; }

.pr-2,
.px-2 {
  padding-right: 0.5rem; }

.pb-2,
.py-2 {
  padding-bottom: 0.5rem; }

.pl-2,
.px-2 {
  padding-left: 0.5rem; }

.p-3 {
  padding: 1rem; }

.pt-3,
.py-3 {
  padding-top: 1rem; }

.pr-3,
.px-3 {
  padding-right: 1rem; }

.pb-3,
.py-3 {
  padding-bottom: 1rem; }

.pl-3,
.px-3 {
  padding-left: 1rem; }

.p-4 {
  padding: 1.5rem; }

.pt-4,
.py-4 {
  padding-top: 1.5rem; }

.pr-4,
.px-4 {
  padding-right: 1.5rem; }

.pb-4,
.py-4 {
  padding-bottom: 1.5rem; }

.pl-4,
.px-4 {
  padding-left: 1.5rem; }

.p-5 {
  padding: 3rem; }

.pt-5,
.py-5 {
  padding-top: 3rem; }

.pr-5,
.px-5 {
  padding-right: 3rem; }

.pb-5,
.py-5 {
  padding-bottom: 3rem; }

.pl-5,
.px-5 {
  padding-left: 3rem; }

.m-auto {
  margin: auto; }

.mt-auto,
.my-auto {
  margin-top: auto; }

.mr-auto,
.mx-auto {
  margin-right: auto; }

.mb-auto,
.my-auto {
  margin-bottom: auto; }

.ml-auto,
.mx-auto {
  margin-left: auto; }

.align-middle {
  vertical-align: middle; }

.table-middle td {
  vertical-align: middle; }

@keyframes hover-color {
  from {
    border-color: #c0c0c0; }
  to {
    border-color: #989A9C; } }
.nav-tabs {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  width: 100%;
  height: 3rem;
  margin-top: 1.4375rem;
  border-bottom: 0.0625rem solid rgba(68, 69, 69, 0.4); }
  .nav-tabs li {
    min-width: 16.6666666%;
    max-width: 50%;
    text-align: center;
    cursor: pointer;
    height: 100%; }
  .nav-tabs > .active {
    border-bottom: 0.125rem solid #488492;
    color: #488492; }

/*# sourceMappingURL=layout.css.map */
