/*
Error: Undefined variable: "$light".
        on line 3 of E:\MyProject\0BillPayScss\scss\top-bar.scss

1: .unis-{
2: 	&topBar {
3: 		background: $light;
4: 		height: 3.75rem;
5: 		box-shadow: 0px 0.125rem 0.625rem rgba(44, 60, 89, 0.07);
6: 		display: flex;
7: 		justify-content: flex-end;
8: 		align-items: center;

Backtrace:
E:\MyProject\0BillPayScss\scss\top-bar.scss:3
D:/zPrograms/Koala_20210706/rubygems/gems/sass-3.5.2/lib/sass/script/tree/variable.rb:49:in `_perform'
D:/zPrograms/Koala_20210706/rubygems/gems/sass-3.5.2/lib/sass/script/tree/node.rb:50:in `perform'
D:/zPrograms/Koala_20210706/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:402:in `visit_prop'
D:/zPrograms/Koala_20210706/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/base.rb:36:in `visit'
D:/zPrograms/Koala_20210706/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:162:in `block in visit'
D:/zPrograms/Koala_20210706/rubygems/gems/sass-3.5.2/lib/sass/stack.rb:79:in `block in with_base'
D:/zPrograms/Koala_20210706/rubygems/gems/sass-3.5.2/lib/sass/stack.rb:135:in `with_frame'
D:/zPrograms/Koala_20210706/rubygems/gems/sass-3.5.2/lib/sass/stack.rb:79:in `with_base'
D:/zPrograms/Koala_20210706/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:162:in `visit'
D:/zPrograms/Koala_20210706/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:444:in `block (2 levels) in visit_rule'
D:/zPrograms/Koala_20210706/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:444:in `map'
D:/zPrograms/Koala_20210706/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:444:in `block in visit_rule'
D:/zPrograms/Koala_20210706/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:183:in `with_environment'
D:/zPrograms/Koala_20210706/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:442:in `visit_rule'
D:/zPrograms/Koala_20210706/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/base.rb:36:in `visit'
D:/zPrograms/Koala_20210706/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:162:in `block in visit'
D:/zPrograms/Koala_20210706/rubygems/gems/sass-3.5.2/lib/sass/stack.rb:79:in `block in with_base'
D:/zPrograms/Koala_20210706/rubygems/gems/sass-3.5.2/lib/sass/stack.rb:135:in `with_frame'
D:/zPrograms/Koala_20210706/rubygems/gems/sass-3.5.2/lib/sass/stack.rb:79:in `with_base'
D:/zPrograms/Koala_20210706/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:162:in `visit'
D:/zPrograms/Koala_20210706/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:444:in `block (2 levels) in visit_rule'
D:/zPrograms/Koala_20210706/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:444:in `map'
D:/zPrograms/Koala_20210706/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:444:in `block in visit_rule'
D:/zPrograms/Koala_20210706/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:183:in `with_environment'
D:/zPrograms/Koala_20210706/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:442:in `visit_rule'
D:/zPrograms/Koala_20210706/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/base.rb:36:in `visit'
D:/zPrograms/Koala_20210706/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:162:in `block in visit'
D:/zPrograms/Koala_20210706/rubygems/gems/sass-3.5.2/lib/sass/stack.rb:79:in `block in with_base'
D:/zPrograms/Koala_20210706/rubygems/gems/sass-3.5.2/lib/sass/stack.rb:135:in `with_frame'
D:/zPrograms/Koala_20210706/rubygems/gems/sass-3.5.2/lib/sass/stack.rb:79:in `with_base'
D:/zPrograms/Koala_20210706/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:162:in `visit'
D:/zPrograms/Koala_20210706/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
D:/zPrograms/Koala_20210706/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/base.rb:52:in `map'
D:/zPrograms/Koala_20210706/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/base.rb:52:in `visit_children'
D:/zPrograms/Koala_20210706/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:171:in `block in visit_children'
D:/zPrograms/Koala_20210706/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:183:in `with_environment'
D:/zPrograms/Koala_20210706/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:170:in `visit_children'
D:/zPrograms/Koala_20210706/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/base.rb:36:in `block in visit'
D:/zPrograms/Koala_20210706/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:190:in `visit_root'
D:/zPrograms/Koala_20210706/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/base.rb:36:in `visit'
D:/zPrograms/Koala_20210706/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:161:in `visit'
D:/zPrograms/Koala_20210706/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:10:in `visit'
D:/zPrograms/Koala_20210706/rubygems/gems/sass-3.5.2/lib/sass/tree/root_node.rb:36:in `css_tree'
D:/zPrograms/Koala_20210706/rubygems/gems/sass-3.5.2/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
D:/zPrograms/Koala_20210706/rubygems/gems/sass-3.5.2/lib/sass/engine.rb:389:in `_render_with_sourcemap'
D:/zPrograms/Koala_20210706/rubygems/gems/sass-3.5.2/lib/sass/engine.rb:307:in `render_with_sourcemap'
D:/zPrograms/Koala_20210706/rubygems/gems/sass-3.5.2/lib/sass/exec/sass_scss.rb:391:in `run'
D:/zPrograms/Koala_20210706/rubygems/gems/sass-3.5.2/lib/sass/exec/sass_scss.rb:63:in `process_result'
D:/zPrograms/Koala_20210706/rubygems/gems/sass-3.5.2/lib/sass/exec/base.rb:52:in `parse'
D:/zPrograms/Koala_20210706/rubygems/gems/sass-3.5.2/lib/sass/exec/base.rb:19:in `parse!'
D:/zPrograms/Koala_20210706/rubygems/gems/sass-3.5.2/bin/sass:13:in `<top (required)>'
D:/zPrograms/Koala_20210706/bin/sass:22:in `load'
D:/zPrograms/Koala_20210706/bin/sass:22:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Undefined variable: \"$light\".\A         on line 3 of E:\MyProject\0BillPayScss\scss\top-bar.scss\A \A 1: .unis-{\A 2: 	&topBar {\A 3: 		background: $light;\A 4: 		height: 3.75rem;\A 5: 		box-shadow: 0px 0.125rem 0.625rem rgba(44, 60, 89, 0.07);\A 6: 		display: flex;\A 7: 		justify-content: flex-end;\A 8: 		align-items: center;"; }
