/*
Error: Undefined mixin 'arrowTransition'.
        on line 113 of E:\MyProject\0BillPayScss\scss\typography.scss, in `arrowTransition'
        from line 113 of E:\MyProject\0BillPayScss\scss\typography.scss

108: 			border-width: 0.375em;
109: 			width: 0;
110: 			height: 0;
111: 			border-style: solid;
112: 			border-color: currentcolor transparent transparent transparent;
113: 			@include arrowTransition(.3s, -45deg);
114: 		}
115: 	}
116: 
117: 	/*arrows*\/
118: 	&arrow {

Backtrace:
E:\MyProject\0BillPayScss\scss\typography.scss:113:in `arrowTransition'
E:\MyProject\0BillPayScss\scss\typography.scss:113
D:/zPrograms/Koala_20210706/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:352:in `block in visit_mixin'
D:/zPrograms/Koala_20210706/rubygems/gems/sass-3.5.2/lib/sass/stack.rb:98:in `block in with_mixin'
D:/zPrograms/Koala_20210706/rubygems/gems/sass-3.5.2/lib/sass/stack.rb:135:in `with_frame'
D:/zPrograms/Koala_20210706/rubygems/gems/sass-3.5.2/lib/sass/stack.rb:98:in `with_mixin'
D:/zPrograms/Koala_20210706/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:350:in `visit_mixin'
D:/zPrograms/Koala_20210706/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/base.rb:36:in `visit'
D:/zPrograms/Koala_20210706/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:162:in `block in visit'
D:/zPrograms/Koala_20210706/rubygems/gems/sass-3.5.2/lib/sass/stack.rb:79:in `block in with_base'
D:/zPrograms/Koala_20210706/rubygems/gems/sass-3.5.2/lib/sass/stack.rb:135:in `with_frame'
D:/zPrograms/Koala_20210706/rubygems/gems/sass-3.5.2/lib/sass/stack.rb:79:in `with_base'
D:/zPrograms/Koala_20210706/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:162:in `visit'
D:/zPrograms/Koala_20210706/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:444:in `block (2 levels) in visit_rule'
D:/zPrograms/Koala_20210706/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:444:in `map'
D:/zPrograms/Koala_20210706/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:444:in `block in visit_rule'
D:/zPrograms/Koala_20210706/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:183:in `with_environment'
D:/zPrograms/Koala_20210706/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:442:in `visit_rule'
D:/zPrograms/Koala_20210706/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/base.rb:36:in `visit'
D:/zPrograms/Koala_20210706/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:162:in `block in visit'
D:/zPrograms/Koala_20210706/rubygems/gems/sass-3.5.2/lib/sass/stack.rb:79:in `block in with_base'
D:/zPrograms/Koala_20210706/rubygems/gems/sass-3.5.2/lib/sass/stack.rb:135:in `with_frame'
D:/zPrograms/Koala_20210706/rubygems/gems/sass-3.5.2/lib/sass/stack.rb:79:in `with_base'
D:/zPrograms/Koala_20210706/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:162:in `visit'
D:/zPrograms/Koala_20210706/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:444:in `block (2 levels) in visit_rule'
D:/zPrograms/Koala_20210706/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:444:in `map'
D:/zPrograms/Koala_20210706/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:444:in `block in visit_rule'
D:/zPrograms/Koala_20210706/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:183:in `with_environment'
D:/zPrograms/Koala_20210706/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:442:in `visit_rule'
D:/zPrograms/Koala_20210706/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/base.rb:36:in `visit'
D:/zPrograms/Koala_20210706/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:162:in `block in visit'
D:/zPrograms/Koala_20210706/rubygems/gems/sass-3.5.2/lib/sass/stack.rb:79:in `block in with_base'
D:/zPrograms/Koala_20210706/rubygems/gems/sass-3.5.2/lib/sass/stack.rb:135:in `with_frame'
D:/zPrograms/Koala_20210706/rubygems/gems/sass-3.5.2/lib/sass/stack.rb:79:in `with_base'
D:/zPrograms/Koala_20210706/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:162:in `visit'
D:/zPrograms/Koala_20210706/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:444:in `block (2 levels) in visit_rule'
D:/zPrograms/Koala_20210706/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:444:in `map'
D:/zPrograms/Koala_20210706/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:444:in `block in visit_rule'
D:/zPrograms/Koala_20210706/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:183:in `with_environment'
D:/zPrograms/Koala_20210706/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:442:in `visit_rule'
D:/zPrograms/Koala_20210706/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/base.rb:36:in `visit'
D:/zPrograms/Koala_20210706/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:162:in `block in visit'
D:/zPrograms/Koala_20210706/rubygems/gems/sass-3.5.2/lib/sass/stack.rb:79:in `block in with_base'
D:/zPrograms/Koala_20210706/rubygems/gems/sass-3.5.2/lib/sass/stack.rb:135:in `with_frame'
D:/zPrograms/Koala_20210706/rubygems/gems/sass-3.5.2/lib/sass/stack.rb:79:in `with_base'
D:/zPrograms/Koala_20210706/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:162:in `visit'
D:/zPrograms/Koala_20210706/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
D:/zPrograms/Koala_20210706/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/base.rb:52:in `map'
D:/zPrograms/Koala_20210706/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/base.rb:52:in `visit_children'
D:/zPrograms/Koala_20210706/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:171:in `block in visit_children'
D:/zPrograms/Koala_20210706/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:183:in `with_environment'
D:/zPrograms/Koala_20210706/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:170:in `visit_children'
D:/zPrograms/Koala_20210706/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/base.rb:36:in `block in visit'
D:/zPrograms/Koala_20210706/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:190:in `visit_root'
D:/zPrograms/Koala_20210706/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/base.rb:36:in `visit'
D:/zPrograms/Koala_20210706/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:161:in `visit'
D:/zPrograms/Koala_20210706/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:10:in `visit'
D:/zPrograms/Koala_20210706/rubygems/gems/sass-3.5.2/lib/sass/tree/root_node.rb:36:in `css_tree'
D:/zPrograms/Koala_20210706/rubygems/gems/sass-3.5.2/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
D:/zPrograms/Koala_20210706/rubygems/gems/sass-3.5.2/lib/sass/engine.rb:389:in `_render_with_sourcemap'
D:/zPrograms/Koala_20210706/rubygems/gems/sass-3.5.2/lib/sass/engine.rb:307:in `render_with_sourcemap'
D:/zPrograms/Koala_20210706/rubygems/gems/sass-3.5.2/lib/sass/exec/sass_scss.rb:391:in `run'
D:/zPrograms/Koala_20210706/rubygems/gems/sass-3.5.2/lib/sass/exec/sass_scss.rb:63:in `process_result'
D:/zPrograms/Koala_20210706/rubygems/gems/sass-3.5.2/lib/sass/exec/base.rb:52:in `parse'
D:/zPrograms/Koala_20210706/rubygems/gems/sass-3.5.2/lib/sass/exec/base.rb:19:in `parse!'
D:/zPrograms/Koala_20210706/rubygems/gems/sass-3.5.2/bin/sass:13:in `<top (required)>'
D:/zPrograms/Koala_20210706/bin/sass:22:in `load'
D:/zPrograms/Koala_20210706/bin/sass:22:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Undefined mixin 'arrowTransition'.\A         on line 113 of E:\MyProject\0BillPayScss\scss\typography.scss, in `arrowTransition'\A         from line 113 of E:\MyProject\0BillPayScss\scss\typography.scss\A \A 108: 			border-width: 0.375em;\A 109: 			width: 0;\A 110: 			height: 0;\A 111: 			border-style: solid;\A 112: 			border-color: currentcolor transparent transparent transparent;\A 113: 			@include arrowTransition(.3s, -45deg);\A 114: 		}\A 115: 	}\A 116: \A 117: 	/*arrows*/\A 118: 	&arrow {"; }
