
.cursor-p {
	cursor: pointer
}

.cursor-not {
	cursor: not-allowed;
}

label {
	padding-bottom: $px6;
	display:block;
}

.mask-layer {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
}

.pl-3_5 {
	padding-left: 2.857142857142857rem;

}
.wid-100 {
	width: 100%;
}
.po-r{
	position: relative;
}
.po-a{
	position: absolute;
}
.h-{
	&40 {
		@include noboder40;

	}
	&32 {
		@include noboder32;

	}
	&24 {
		@include noboder24;

	}
}
.h-with-border- {
	&56 {
		@include boder56;
	}
	&40 {
		@include boder40;
	}
	&32 {
		@include boder32;
	}
	&24 {
		@include boder24;
	}
}
.po-hover {
	cursor: pointer;
	&:hover {
		color: $themeHover;
	}
	&:focus {
		color: $themeDefault;
	}

}
.of-auto {
	overflow-y: auto;
}
.tex-center {
	text-align: center;
}
.no-after-before {
	&:after {
		display: none !important;
	}
	&:before {
		display: none !important;
	}
}
.f-inherit {
	font-weight: inherit;
}
.word-break-all {
	word-break: break-all;
}
.text-align-justify {
	text-align: justify;
	text-align-last: justify;
}
.shadows {
	background: $light;
	box-shadow: $shadow;
	color: black !important;
	&1 {

		min-height: 4.571428571428571rem;
		box-shadow: $shadow;
	}
	&2 {

		min-height: 4.571428571428571rem;
		box-shadow: $shadow;
	}
	&3 {

		min-height: 4.571428571428571rem;
		box-shadow: $shadow;
	}
}


